/* Importación de estilos a letras */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato|Liu+Jian+Mao+Cao&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* Establezca la altura del cuerpo y del documento al 100% para habilitar las "pestañas de página completa". */
body, html {
  height: 100%;
  margin: 0;

}

body {
  background-image: url("./img/Animaciones/Chihiro/Chihiro-Agua.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */

}

/************* BARRA DE NAVEGACIÓN **************/
/*
.BoxNavs {
  background-color:  rgb(40 56 55 / 90%);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66%;
  font-family: Roboto;

}

.BoxNavs:hover { /* Lo que cambiará cuando pase el cursor
  background-color: rgba(119, 119, 119, 0.411);
  font-family: Roboto;
}

 .LogoNav {
  width:100%;
}
*/


/*********** NAVS HEADER ******************/

.header{
  height: 80px;
  background-color: rgb(21 32 36 / 69%);
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
  font-family: Roboto;
}

.nav{
  display: flex;
  justify-content: space-between;
  max-width: 962PX;
  height: 5rem;
  margin: 0 auto;
}

.nav-link{
  text-decoration: none;
  color: beige
}

.logo{
  width: 190px;
  cursor: pointer;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
  align-items: center;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}

.nav-menu-link:hover {
  background-color: none;
  color: rgb(219, 186, 75);
  transition: 0.5s;
}

.nav-menu-link{
  height: 70px;
  padding: 8px 12px;
  border-radius: 5px;
}

.NavToggle{
  background-color: rgb(40 56 55 / 0%) ;
  border: none;
  display: none;
  cursor: pointer;
}

.MenuBar{
  width: 40px;
}

@media (max-width:768px) {
  .header {
    height: 60px;
  }

  .logo {
    width: 160px;
    margin: 0px 12px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    list-style: none;
    background-color: rgb(15 25 29);
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 70px;

  }

  .nav-menu-link:hover{
    background-color: none;
    color: rgb(219, 186, 75);

  }

  .NavToggle{
    margin-right: 30px;
    padding-bottom: 16px;
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .MenuBar {
    width: 40px;
  }
}
/************** BARRA DE SCROLL **************/
::-webkit-scrollbar {
  width: 20px;
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.932);
}

::-webkit-scrollbar-thumb {
  background: #0f5f5faf;
  border-radius: 20px;
}

/************** PÁGINAS **************/

/* Diseñe el contenido de la pestaña (y agregue altura: 100% para el contenido de la página completa) */
/*.Box {
  display: none;
  padding: 0;
  height: 1000px;
  font-family:'Poppins', sans-serif;
}
*/

#AboutUs{
  display: none;
  padding: 0;
  font-family:'Poppins', sans-serif;
}

#Peliculas{
  display: none;
  padding: 0;
  height: 1000px;
  font-family:'Poppins', sans-serif;
}

#Awards{
  display: none;
  padding: 0;
  height: 1000px;
  font-family:'Poppins', sans-serif;
}

#Stadistics{
  display: none;
  padding: 0;
  height: 1000px;
  font-family:'Poppins', sans-serif;
}

#Games{
  display: none;
  padding: 0;
  font-family:'Poppins', sans-serif;
}

#Home {background-color: rgb(12 46 45 / 0);}
#AboutUs {background-color: rgba(255, 255, 255, 0.822);}
/*#Peliculas {background-color:}*/
#Awards {background-color:  rgb(12 46 45 / 70%);}
#Stadistics {background-color:  rgb(6 5 5 / 70%);}
#Games {background-color: rgb(12 46 45 / 0);}

/************** PIE DE PAGINA **************/
.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  text-align: center;
  font-size: xx-small;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto;
  display: flex;
  columns: 5;
  justify-content: space-around;
  align-items: center;
}

#participants{
  display: flex;
  columns: 2;
}

.logos{
  margin-left: 20px;
  margin-right: 20px;
}

/************** ICONS SOCIAL MEDIA **************/
.redSocial{
  width: 1.125rem;
}
/************** PAGE HOME ***************/

/************** BOX WELCOME**************/

/*.LogoWelcome{
  width: 50%;
  position: static;
}
*/
.ContainerHome {
  display: grid;
  gap: 0% 3%;
  grid-auto-flow: row;
  justify-content: center;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
  margin: 3%;
}

.BoxWelcome {
  display: grid;

}

.BoxSlider {

  justify-self: stretch;
  align-self: stretch;
  grid-area: 1 / 2 / 2 / 3;

}

.WelcomeText {

  justify-self: center;
  align-self: center;
  grid-area: 1 / 1 / 2 / 2;
}

.BoxPhrases { grid-area: 2 / 1 / 3 / 3; }

/************** BOX SLIDE **************/

/* {box-sizing:border-box}*/

.BoxSlider {
  background-color: rgba(0, 0, 0, 0.767);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: rgb(12 46 45 / 70%);
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text */
.numbertext {
  color: #f2f2f2;
  font-size: larger;
  padding: 8px 5px;
  margin: 20px 50px;
  position: absolute;
  top: 0;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.numbertext a {
  color: rgb(236, 198, 28);
  text-decoration: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #085548ea;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/************PAGE ABOUT US *****************/

.container2 {
  display: grid;
  grid-template-columns: 2fr 0.8fr 0.2fr 1fr;
  grid-template-rows: 0.0fr 1fr 1fr 1fr;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "historia fundadores fundadores fundadores"
    "historia img_f1 text_f1 text_f1"
    "historia img_f2 text_f2 text_f2"
    "historia img_f3 text_f3 text_f3";
}

.container2 h1 {
  color: #2e696f;
}

.historia {
  grid-area: historia;
  text-align: justify;
  font-size: small;
  padding: 5%;
}

.historia img {
  width: 80%;
  text-align: center;
}


.historia div {
  text-align: center;
}

.photofundadores{
  border-radius: 10px;
  border-style: solid;
  border-color: #2e696f;
  border-width: 5px;
}

.totoritos2 {
  text-align: end;
}

.fundadores {
  grid-area: fundadores;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2%;
 }

.fundadores img {
  width: 30%;
  justify-content: right;
  padding-right: 5%;
}

.img_f1{
  grid-area: img_f1;
  text-align: center;
}
.img_f2 {
  grid-area: img_f2;
  text-align: center;
}
.img_f3 {
  grid-area: img_f3;
  text-align: center;
}

.img_f1 img,
.img_f2 img,
.img_f3 img
{
  width: 70%;
  text-align: center;
}

.text_f1 { grid-area: text_f1; }

.text_f2 { grid-area: text_f2; }

.text_f3 { grid-area: text_f3; }

.text_f1,
.text_f2,
.text_f3 {
  font-size: small;
  text-align: justify;
  padding-right: 8%;
}


/************** PAGE MOVIES ************/

/*.container3 {
}*/

.container3 h1 {
  color: #f2f2f2;
  font-size: 50;
  padding-left: 20px;
}

.mySlides2{
  display:none;
 }

 .prev2, .next2{
  cursor:pointer;
  position:absolute;
  top:50%;
  width:auto;
  margin-top:-6.25rem;
  padding:16px;
  color:white;
  font-weight:bold;
  font-size:18px;
  transition:0.50s ease;
  border-radius:0 3px 3px 0;
 }

 .next2{
  right:0;
  border-radius:3px 0 0 3px;
 }

.topImg{
  width: 30cm;

}

.boxTop{
  background-color: rgba(0, 0, 0, 0.548);
  text-align: center;

}


.filter_movies { grid-area: filter_movies;}

.container_all_filters {
  background-color:rgba(0, 0, 0, 0.548);
  height: 50px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  width: 400px;
  font-size: 16px;
  border-radius: 20px;
  border-color: #008CBA;
  border-width: 5px;
}

.box_filters{
  display: flex;
  align-items: center;
}

.data_filters{
  width: 200px;
  font-size: 16px;
  border-radius: 20px;
  border-color: #008CBA;
  border-width: 5px;

}

.button_alfabet{
  height: 40px;
}

.box_filter_by{
  margin: 8px;
}

.all_movies { grid-area: all_movies; }

.cards_movies{

  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  grid-auto-rows: column;
  gap: 20px;
  place-content: center;
  height: 100%;
  margin: 50px 0 50px 50px;
}

.moviecard{
  background-color: rgba(0, 0, 0, 0.548);
  text-align: center;
  padding-top: 1.875rem;
  border-radius: 1.25rem;
}

.movie-poster{
  border-radius: .625rem;
  border-style: solid;
  border-width: .25rem;
  border-color: rgb(43 103 108);
  height: 18.25rem;
  width: 208;
  width: 13rem;
}

.filmClick{
  font-size: .875rem;
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: beige;
}
/***************** PAGE GAMES ********************/

.container6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "gameOne gameOne gameTwo gameTwo"
    "gameOne gameOne gameTwo gameTwo"
    "gameOne gameOne gameTwo gameTwo";
}

.gameOne {
  grid-area: gameOne;
  text-align: center;
  padding: 15px;
  margin: 50px;
}

.gameTwo {
  grid-area: gameTwo;
  text-align: center;
  padding: 15px;
  margin: 50px;
 }

 .gameOne p{
   text-align: justify;
   padding: 15px;
 }

 .gameOne ul  li{
  text-align: justify;
  padding-right: 15px;
 }

.boxGame1,
.boxGame2{
  background-color: rgb(0 0 0 / 60%);
  margin-top: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: #2e696f;
  border-width: 5px;
  color: white;
}

.imgGame1{
  text-align: center;
}

.imgGame{
  width: 400px;
  border-radius: 10px;
  border-style: solid;
}

.button_play{
  background-color: #008CBA;
  border-radius: 10px;
  color: white;
  margin: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  width: 200px;
  height: 100px;
}

.gameTwo p{
  text-align: justify;
  padding: 15px;
}

.gameTwo ul  li{
 text-align: justify;
 padding-right: 15px;
}
