/* Importación de estilos a letras */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lato|Liu+Jian+Mao+Cao&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

/* Establezca la altura del cuerpo y del documento al 100% para habilitar las "pestañas de página completa". */
body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("./img/Animaciones/Chihiro/Chihiro-Agua.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */

}

/************* BARRA DE NAVEGACIÓN **************/

.BoxNavs {
  background-color:  rgb(40 56 55 / 90%);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66%;
  font-family: Roboto;

}

.BoxNavs:hover { /* Lo que cambiará cuando pase el cursor*/
  background-color: rgba(119, 119, 119, 0.411);
  font-family: Roboto;
}

/* .LogoNav {
  width:100%; 
} */

/************** BARRA DE SCROLL **************/
::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.993);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.795);
}

::-webkit-scrollbar-thumb {
  background: #0f5f5faf;
  border-radius: 10px;
}

/************** PÁGINAS **************/

/* Diseñe el contenido de la pestaña (y agregue altura: 100% para el contenido de la página completa) */
.Box {
  /* display: none;
  padding: 0; */
  /* height: 1000px; */
  font-family:'Poppins', sans-serif;
}

#Inicio {background-color: rgb(12 46 45 / 0);}
#SobreNosotros {background-color: rgba(250, 250, 221, 0.623);}
#Peliculas {background-color:  rgb(6 5 5 / 70%);}
#Premios {background-color:  rgb(12 46 45 / 70%);}
#Estadisticas {background-color:  rgb(6 5 5 / 70%);}
#Juegos {background-color: rgb(12 46 45 / 0);}

/************** PIE DE PAGINA **************/
.footer {
  /* position: fixed; */

  width: 100%;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  text-align: center;
  font-size: small;
  font-family: Roboto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#participants{
  display: flex;
  columns: 2;
}

.logos{
  /* margin-left: 20px;
  margin-right: 20px; */
  padding: 2%;
}

/************** Iconos de las redes sociales**************/
.redSocial{
  width: 1.125rem;
}


/************** PAGINA HOME ***************/

/************** BOX WELCOME**************/
.LogoWelcome{
  width: 40%;
}

.container1 {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0% 0%; 
  grid-template-areas: "BoxWelcome" "BoxSlider";
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.BoxWelcome {

  justify-self: stretch;
  align-self: stretch;
  /* display: grid;
  justify-items: center;
  align-items: center; */
  background: rgb(12 46 45 / 70%);
  color: beige;
  text-align: center;
  font-size: medium;
  padding: 0% 5%;
  font-family: Roboto;
  padding: 8% 5% 0% 5%;
  
}

.BoxWelcome h1 {
  font-size: xx-large;
  color: beige;
}

.BoxSlider {

  justify-self: stretch;
  align-self: stretch;
  padding-bottom: 2%;

}

.WelcomeText {

  justify-self: center;
  align-self: center;
}

.BoxWelcome { grid-area: BoxWelcome; }
.BoxSlider { grid-area: BoxSlider; }

/************** BOX SLIDE NOTICIAS **************/

* {box-sizing:border-box}

.BoxSlider {
  background-color: rgba(0, 0, 0, 0.767);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: xx-large;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text */
.numbertext {
  color: #f2f2f2;
  font-size: medium;
  padding: 2%;
  margin: 2% 5%;
  position: absolute;
  top: 0;
}

.numbertext a {
  color: rgb(236, 198, 28);
  text-decoration: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #085548ea;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/************** PÁGINA SOBRE NOSOTROS **************/

.containerAbout {
  display: grid;
  grid-template-columns: 2.1fr 0.7fr 0.7fr 0.7fr; 
  grid-template-areas:
    "BoxAbout1 BoxAbout2 BoxAbout2 BoxAbout2"
    "BoxAbout1 BoxFounder1 BoxFounder2 BoxFounder3"
    "BoxAbout1 BoxFounderText1 BoxFounderText2 BoxFounderText3";
  margin: 0% 3%;
}

.BoxAbout1,
.BoxAbout2,
.BoxFounderText1,
.BoxFounderText2,
.BoxFounderText3 {
  justify-self: stretch;
  align-self: stretch;
  border-radius: 20px;
  /* background-color: rgba(250, 250, 221, 0.623); */
  padding: 5%;
}

.BoxAbout1 {
  grid-area: BoxAbout1;
}

.BoxAbout2 {
  grid-area: BoxAbout2;
}
.BoxFounderText1 {
  grid-area: BoxFounderText1;
}

.BoxFounderText2 {
  grid-area: BoxFounderText2;
}

.BoxFounderText3 {
  grid-area: BoxFounderText3;
}
.BoxFounder1 {
  grid-area: BoxFounder1;
}

.BoxFounder2 {
  grid-area: BoxFounder2;
}

.BoxFounder3 {
  grid-area: BoxFounder3;
}

.Totorosmini img {
  width: 40%;
}

.Totorosmini2 {
  text-align: center;
}
.Totorosmini2 img {
  width: 40%;
}

.BoxAbout1 p,
.BoxAbout2 p {
  color: rgb(37, 35, 35);
  text-align: justify;
  font-size: small;
}
.BoxAbout1 h1,
.BoxAbout2 h1 {
  color: rgb(16 96 93);
  text-align: left;
  font-size: x-large;
}

.FotoFund {
text-align: center;
}


.Fundadores {
  width: 80%;
  border-radius: 10px;
  border-width: 7px;
  border-color: rgb(43 103 108);
  border-style: solid;
}

.BoxFounder1 img,
.BoxFounder2 img,
.BoxFounder3 img {
  width: 80%;
}
.BoxFounder1,
.BoxFounder2,
.BoxFounder3 {
  text-align: center;
}

.BoxFounderText1 h1,
.BoxFounderText2 h1,
.BoxFounderText3 h1 {
  color: rgb(27, 82, 48);
  text-align: center;
  font-size: medium;
}

.BoxFounderText1 h3,
.BoxFounderText2 h3,
.BoxFounderText3 h3 {
  color: rgb(37, 35, 35);
  text-align: center;
  font-size: small;
}

.BoxFounderText1 p,
.BoxFounderText2 p,
.BoxFounderText3 p {
  color: rgb(37, 35, 35);
  text-align: justify;
  font-size: small;
  margin: 5%;
}

.BoxFounderText1 ul,
.BoxFounderText2 ul,
.BoxFounderText3 ul {
  color: rgb(37, 35, 35);
  text-align: left;
  font-size: small;
}

/************** PÁGINA PREMIOS **************/

.container2 {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.7fr 1.3fr; 
  gap: 0% 0%; 
  grid-auto-flow: row;
  justify-content: center;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "BoxImg BoxText2"
    "BoxPremio BoxPremio";
}

/************** BOX IMAGEN **************/

.BoxImg {

  justify-self: stretch;
  align-self: stretch;
  grid-area: BoxImg;
  background-color: rgba(0, 0, 0, 0.767);
  padding: 10% 5%;
}

.BoxImg img {
  width: 100%;
}

/************** BOX NOTICIA PREMIO OSCAR **************/

.BoxText2 {

  justify-self: stretch;
  align-self: stretch;
  grid-area: BoxText2;
  background-color: rgba(0, 0, 0, 0.767);
  padding: 8% 5%;
}

.BoxText2 h1 {
  color: rgb(187 132 64);
  font-size: x-large;
}

.BoxText2 p {
  color: beige;
  font-size: small;
  text-align: justify;
}

.Cita {
  padding: 2% 5%;
}

.Cita p {
  color: beige;
  text-align: justify;
  font-size: small;
}

.Cita h3 {
  color: beige;
  text-align: right;
  font-size: x-small;
}

.BoxPremio { 
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: BoxPremio; 
}

/************** BOX PREMIOS **************/


/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  width: 70%;
  border-left: none;
  /* height: 300px; */
  /* display: none; */
}